---
import { site } from '@/content/site';
---
<nav class="mobile-bar" aria-label="Schnellkontakt mobil">
  <a href={site.phoneHref}>Anrufen</a>
  <a href="/kontakt/#termin">Termin</a>
  <a href={site.mapsUrl} target="_blank" rel="noreferrer">Route</a>
</nav>
